@import "~antd/dist/antd.less";

#root {
  height: 100%;
}

.app {
  height: 100%;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 392px;
  line-height: 392px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 435px;
  height: 350px;
  border: solid 1px #9c9c9c;
  text-align: center;
  margin-bottom: 20px;
}

.card-content {
  text-align: center;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}